<h1>New#index</h1>
<p> This is the actual message that I wanna display</p>

<%= link_to "Open test1",new_test1_path %>
<%= link_to "Open test2",new_test2_path %>
<%= link_to "Open test3",new_test3_path %>
